.Select{
    margin-bottom: 15px;
}

.Select label{
    margin: 0 0 3px 0;
    font-weight: bold;
    padding: 0;
    display: block;
}

.Select select{
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    width: 100%;
    height: 29px;
    margin: 0 0 5px;
    transition: all .5s ease-in-out;
}